body {
  background: #ffffff;
}


.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h4, .reveal {
  font-family: Impact, OpenSans;
  text-shadow:2px 2px black;
}


.reveal h1, .reveal h2 {
  color: #FF6E00;
}

.reveal h3 {
  text-shadow:2px 2px white;
}
